
.navbar-app.dark {
    background-color: #333; /* Dark theme background */
    color: white; /* Dark theme text color */
  }
  
  .navbar-app.light {
    background-color: #eee; /* Light theme background */
    color: black; /* Light theme text color */
  }
  
  /* Style for links and buttons */
  .navbar-app .MuiButton-root {
    color: inherit; /* Inherits the color from the theme */
  }
  
  /* More styles can be added as needed */
  
/* Style for buttons and icon buttons */
.navbar-app .MuiButton-root,
.navbar-app .MuiIconButton-root { /* Apply the same style to IconButton */
  color: inherit; /* Inherits the color from the theme */
}

/* You might want to add specific hover effects for icon buttons if needed */
.navbar-app .MuiIconButton-root:hover {
  background-color: rgba(255, 255, 255, 0.25); /* Example hover effect */
}
