body{
    background-color: whitesmoke;
}

.blogs.grid.container{
    padding: 3em;
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
    
}
.active{
    opacity: 1 !important;
    pointer-events: all !important;
}

.create-blog{
    transition: 200ms ease-in;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.417);
}

.create-blog-active{
    transition: 200ms ease-in;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.417);
    transform: translate(-50%,-50%) scale(1);
}

.post-body{
    padding: 1em 5em;
    width: 100%;
}